.link {
    position: relative;
    padding-bottom: 10px;
  }
  
  .link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #CD5FF8;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
  }
  
  .link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
  }
  
  .blur{
    top: 0; left: 0; 
    width: 100%;
    height: 5rem;
    overflow: hidden;
    position: fixed;
    filter: blur(4px);
  }